.modal_body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100rem;
    height: 30rem;
  }

.banner_box {
    height: 17rem;
    display: flex;
    align-self: center;
    width: 100rem;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .banner_text {
    align-self: flex-end;
    text-align: center;
    font-size: 100px;
    text-shadow: 5px 5px darkred;
    cursor: pointer;
    color: red;
    margin-bottom: 11px;
  }

  .account_recovery_text {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
    color: red;
    text-shadow: 2px 2px darkred;
  }
  
  .account_recovery_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 500px;
    box-shadow: red 0px 5px 15px;
    border: solid rgba(139, 0, 0, 0.5);
    border-radius: 20px;
  }
  
  .inputField {
    height: 50px;
    color: rgb(200,200,200) !important;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 20px;
    margin-top: 0px;
    transition: .3s;
    display: flex;
    width: 300px;
    border: none;
    background-color: rgb(100,100,100) !important;
  }
  
  .inputField:focus{
    background-color: rgb(70,70,70) !important;
    box-shadow: none;
    border-color: none !important;
  }
  
  .inputField:hover{
    background-color: rgb(70,70,70) !important;
  }
  
  .inputField:active {
    box-shadow: none;
  }
  
  .recovery_error, .recovery_form_text {
    color: darkred;
    text-align: center;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: -15px;
    z-index: 1000;
  }

  .recovery_error {
    color: red;
  }

  .button_box {
    display: flex;
    height: 3rem;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 300px;
    align-self: center;
  }
  
  .button_box > * {
    width: 140px;
    height: 3rem;
    border-radius: 10px;
    background-color: rgb(50,50,50) !important;
    border-color: rgb(100, 100, 100);
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    color: darkred;
  }
  
  .button_box > :hover {
    background-color: rgb(35,35,35) !important;
    color: white;
    border-color: white;
  }
  
  .button_box > :active {
    border-color: darkred !important;
    color: darkred !important;
  }

  
  @media (max-width:770px) {
    .banner_text {
      font-size: 90px;
    }
  }
  
  @media (max-width:650px) {
    .banner_text {
      font-size: 80px;
    }
  }
  
  @media (max-width:575px) {
    .banner_text {
      font-size: 70px;
      text-shadow: 4px 4px darkred;
    }
  }
  
  @media (max-width:500px) {
    .banner_text {
      font-size: 60px;
    }

    .account_recovery_form {
      width: 400px;
    }

    .account_recovery_text {
      font-size: 25px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }

  @media (max-width:430px) {
    .banner_text {
      font-size: 40px;
      text-shadow: 3px 3px darkred;
    }

    .account_recovery_form {
      width: 300px;
    }

    .account_recovery_text {
      font-size: 25px;
      margin-bottom: 30px;
      margin-top: 30px;
    }

    .inputField {
      width: 250px;
    }

    .button_box {
      width: 250px;
    }

    .button_box > *{
      width: 120px;
      height: 40px;
      font-size: 16px;
    }
  }