.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.banner_box {
  margin-top: 70px;
  margin-bottom: 30px;
  width: 100vw;
}

.banner_text {
  text-align: center;
  font-size: var(--xx-large);
  text-shadow: 5px 5px darkgreen;
  cursor: pointer;
}

.login_button, .signup_button {
  width: 300px;
  height: 75px;
  border-radius: 10px;
  font-size: var(--medium);
  font-weight: bolder;
  border: solid 1px whitesmoke;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: .3s;
}

.login_button:hover, .signup_button:hover {
  background-color: rgb(50,50,50) !important;
}

.account_recovery_links {
  cursor: pointer;
  display: flex;
  gap: 6px;
}

.account_recovery_links > *{
  background-color: rgb(0,0,0,0);
  border: none;
  font-size: var(--small);
  color: grey;
}

.account_recovery_links >:hover {
  color: whitesmoke;
  cursor: pointer;
}

@media (max-width:850px) {
  .banner_text {
    font-size: var(--x-large);
  }
}

@media (max-width:550px) {
  .banner_text {
    font-size: var(--large);
    text-shadow: 3px 3px darkgreen;
    margin-bottom: 0;
  }

  .login_button, .signup_button {
    width: 280px;
  }
}