:root {
  --electric-green : #09b43a;
}

.modal_body {
  width: 100rem;
  padding-bottom: 10rem;
}

.banner_box {
  height: 17rem;
  display: flex;
  align-self: center;
  width: 100rem;
  justify-content: center;
  margin-bottom: 10px;
}

.banner_text {
  align-self: flex-end;
  text-align: center;
  font-size: 100px;
  text-shadow: 5px 5px darkgreen;
  cursor: pointer;
  color: var(--electric-green);
  margin-bottom: 11px;
}

.user_login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_account_info_box {
  height: 5rem;
  color: rgb(200,200,200) !important;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 1rem;
  margin-top: -20px;
  transition: .3s;
  display: flex;
  width: 20rem;
  border: solid 1px silver;
  border-radius: 20px;
  background-color: rgb(50,50,50) !important;
}

.input_account_info_box::placeholder {
  color: rgb(200,200,200, .5) !important;
  font-weight: bold;
  font-size: 20px;
}

.input_account_info_box:focus {
  background-color: rgb(35,35,35) !important;
  box-shadow: none;
  border-color: none !important;
}

.input_account_info_box:hover {
  background-color: rgb(35,35,35) !important;
}

.input_account_info_box:active {
  box-shadow: none;
}

.signup_form_text, .login_error {
  text-align: center;
  margin-bottom: 5px;
  margin-top: -29px;
  font-size: larger;
}

.signup_form_text {
  color: var(--electric-green);
  text-shadow: .5px .5px darkgreen;
}

.button_box {
  display: flex;
  height: 3rem;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 300px;
  align-self: center;
}

.button_box > * {
  width: 140px;
  height: 3rem;
  border-radius: 10px;
  background-color: rgb(50,50,50) !important;
  border-color: rgb(100, 100, 100);
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  color: green;
}

.button_box > :hover {
  background-color: rgb(35,35,35) !important;
  color: white;
  border-color: white;
}

.button_box > :active {
  border-color: white !important;
}

.login_error {
  color: red;
}

.account_recovery_links {
  cursor: pointer;
  display: flex;
  gap: 6px;
}

.account_recovery_links > *{
  background-color: rgb(0,0,0,0);
  border: none;
  font-size: 16px;
  color: grey;
  padding: 0;
}

.account_recovery_links >:hover {
  color: whitesmoke;
  cursor: pointer;
  background-color: rgb(0,0,0,0);
}

@media (max-width:770px) {
  .banner_text {
    font-size: 90px;
  }
}

@media (max-width:650px) {
  .banner_text {
    font-size: 80px;
  }
}

@media (max-width:575px) {
  .banner_text {
    font-size: 70px;
    text-shadow: 4px 4px darkgreen;
  }
}

@media (max-width:500px) {
  .banner_text {
    font-size: 60px;
  }
}

@media (max-width:430px) {
  .banner_text {
    font-size: 50px;
    text-shadow: 3px 3px darkgreen;
  }
}

@media (max-width:375px) {
  .input_account_info_box {
    width: 18rem;
  }

  .login_error {
    font-size: medium;
    margin-bottom: 10px;
  }

  .banner_text {
    font-size: 40px;
    margin-top: 125px;
  }

  .button_box { 
    width: 18rem;
  }
}

@media (max-width:330px) {
  .banner_text {
      font-size: 40px;
  }
}