.banner_box {
  margin-top: 140px;
  width: 100vw;
  margin-bottom: 12px;
}

.banner_text {
  text-align: center;
  font-size: var(--xx-large);
  text-shadow: 5px 5px darkgreen;
  cursor: pointer;
}

.signup_form_text, .login_error {
  text-align: center;
  margin-bottom: 7px;
  margin-top: -29px;
  font-size: var(--small);
}

.signup_form_text {
  text-shadow: .5px .5px darkgreen;
}

.user_login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_account_info_box {
  height: 75px;
  padding: 0.5rem 1rem;
  color: whitesmoke !important;
  font-size: var(--medium);
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: -25px;
  transition: .3s;
  width: 300px;
  border: none;
  border-radius: 10px;
  border: solid 1px whitesmoke;
}

.input_account_info_box::placeholder {
  color: rgb(200,200,200, .5) !important;
  font-weight: bold;
  font-size: var(--medium);
}

.input_account_info_box:focus {
  background-color: rgb(50,50,50) !important;
  box-shadow: none;
  border: solid 1px white;
}

.input_account_info_box:hover {
  background-color: rgb(50,50,50) !important;
  border: solid 1px white;
}

.input_account_info_box:active {
  box-shadow: none;
}

.button_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 300px;
  align-self: center;
}

.button_box > * {
  width: 140px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--charcoal)!important;
  border: solid 1px whitesmoke;
  font-size: var(--small);
  font-weight: 800;
  color: var(--electric-green);
}

.button_box > :hover {
  background-color: rgb(50,50,50) !important;
  border: solid 1px white;
  color: white;
}

.button_box > :active {
  background-color: rgb(50,50,50) !important;
  border: solid 1px white;
  color: white;
}

.login_error {
  color: red;
}

.account_recovery_links {
  cursor: pointer;
  display: flex;
  gap: 6px;
}

.account_recovery_links > *{
  background-color: rgb(0,0,0,0);
  border: none;
  font-size: 16px;
  color: grey;
  padding: 0;
}

.account_recovery_links >:hover {
  color: whitesmoke;
  cursor: pointer;
  background-color: rgb(0,0,0,0);
}

@media (max-width:800px) {
  .banner_text {
    font-size: var(--x-large);
  }
}

@media (max-width:500px) {
  .banner_text {
    font-size: var(--large);
    text-shadow: 3px 3px darkgreen;
  }
}

@media (max-width:375px) {
  .input_account_info_box {
    width: 18rem;
  }

  .login_error {
    font-size: medium;
    margin-bottom: 10px;
  }

  .button_box { 
    width: 18rem;
  }
}