#account_recovery_text {
  font-size: 30px;
  margin-bottom: 12px;
  text-align: center;
}

#account_recovery_form {
  display: flex;
  flex-direction: column;
}

#account_recovery_form > input {
    margin-top: 1rem;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(240, 240, 240, 0.8);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    color: black;
    align-self: center;
    width: 18rem;
}

#account_recovery_form > input:focus {
  background-color: lightgreen;
}

#account_recovery_form > input:active {
  background-color: var(--electric-green);
}

#recovery_error {
  color: red;
  text-align: center;
  font-size: 18px;
  margin-top: -12px;
  margin-bottom: -12px;
}

@media (max-width:375px) {
  #account_recovery_text {
    font-size: 20px;
  }

  #account_recovery_form > input {
    width: 16rem;
  }
}