.banner_box {
  height: 70px;
  display: flex;
  align-self: center;
  width: 300px;
  justify-content: center;
  margin-bottom: 10px;
}

.banner_text {
  align-self: flex-end;
  text-align: center;
  font-size: 50px;
  text-shadow: 3px 3px darkgreen;
  cursor: pointer;
}

.modal_body {
  width: 70rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user_signup_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5rem;
    border: solid var(--electric-green-50);
    border-radius: 20px;
    width: 40%;
    padding-top: 20px;
    box-shadow: var(--electric-green) 0px 5px 15px;
  }

.signup_message {
  margin-bottom: 8px;
  border-bottom: solid rgb(50,50,50);
  padding-bottom: 5px;
  width: 200px;
  text-align: center;
  text-shadow: 3px 3px darkgreen;
}

.signup_form_text {
  color: rgb(200,200,200, .6);
}
  
.signup_form_text, .registration_error {
    text-align: center;
    font-size: small;
  }

.inputField {
    height: 50px;
    color: rgb(200,200,200) !important;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 10px;
    margin-top: -6px;
    transition: .3s;
    color: black;
    display: flex;
    width: 300px;
    border: none;
    background-color: rgb(50,50,50) !important;
}

.inputField::placeholder {
  color: rgb(200,200,200, .6) !important;
}

.weight_box {
  width: 300px;
  display: flex;
  margin-bottom: 16px;
}

.weight_input {
  width: 100px;
}

.inputField:focus{
  background-color: rgb(35,35,35) !important;
  box-shadow: none;
  border-color: none !important;
}

.inputField:hover{
  background-color: rgb(35,35,35) !important;
  color: white;
}

.inputField:active {
  box-shadow: none;
}

.registration_error {
    color: red;
}

.button_box {
  display: flex;
  height: 3rem;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 300px;
  align-self: center;
}

.button_box > * {
  width: 140px;
  height: 3rem;
  border-radius: 10px;
  background-color: rgb(50,50,50) !important;
  border-color: rgb(100, 100, 100);
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  color: var(--electric-green);
}

.button_box > :hover {
  background-color: rgb(35,35,35) !important;
  color: white;
  border-color: white;
}

.button_box > :active {
  border-color: var(--electric-green) !important;
  color: var(--electric-green) !important;
}

@media (max-width:768px) {
  .banner_text {
    font-size: 75px;
  }
  
}

@media (max-width:570px) {
  .banner_text {
    font-size: 50px;
    margin-top: 75px;
  }

  .signup_form_text {
    font-size: small;
  }
}

@media (max-width:375px) {
  .banner_text {
    font-size: 45px;
    margin-top: 75px;
  }

  .inputField {
    width: 250px;
    align-self: center;
  }

  .weight_input {
    width: 100px;
  }

  .registration_error {
    font-size: small;
  }

  .weight_box {
    width: 250px;
  }

  .button_box { 
    width: 20rem;
  }

  .button_box > * {
    width: 9rem;
  }

  .button_box > :hover {
    width: 9.5rem;
  }

}

@media (max-width:330px) {
  .banner_text {
    font-size: 40px;
  }
}
