.banner_box {
  height: 70px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.banner_text {
  align-self: flex-end;
  text-align: center;
  font-size: var(--x-large);
  text-shadow: 4px 4px darkgreen;
  cursor: pointer;
  color: var(--electric-green) !important;
}

.modal_body {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user_signup_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5rem;
    border: solid 1px grey;
    border-radius: 20px;
    width: 400px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

.signup_message {
  margin-bottom: 8px;
  border-bottom: solid rgb(50,50,50);
  padding-bottom: 5px;
  width: 200px;
  text-align: center;
  text-shadow: 2px 2px darkgreen;
  font-size: var(--medium);
}

.signup_form_text {
  color: var(--electric-green) !important;
}
  
.signup_form_text, .registration_error {
    text-align: center;
    font-size: 14px;
    width: 300px;
    margin-bottom: 20px;
  }

.inputField {
    height: 20px;
    color: rgb(200,200,200) !important;
    font-size: var(--small);
    margin-bottom: 20px;
    margin-top: -3px;
    transition: .3s;
    width: 300px;
    border: none;
    border-bottom: solid 1px grey;
    border-radius: 0;
    padding-left: 2px;
    padding-bottom: 5px;
    font-weight: 700;
}

.user_signup_form > div > label, .user_signup_form > .weight_box > div > label {
  color: gray !important;
  text-shadow: none !important;
  font-size: var(--small) !important;
  font-weight: bolder;
}



.inputField:focus{
  box-shadow: none;
  border-bottom: solid 1px grey;
  
}

.inputField:active {
  box-shadow: none;
  border-bottom: solid 1px grey;
}

.weight_box {
  width: 300px;
  display: flex;
  margin-bottom: 16px;
}

.weight_input {
  width: 70px;
}

.registration_error {
    color: red !important;
}

.button_box {
  display: flex;
  height: 3rem;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 300px;
  align-self: center;
}

.button_box > * {
  width: 140px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--charcoal)!important;
  border: solid 1px whitesmoke;
  font-size: var(--small);
  font-weight: 800;
  color: var(--electric-green);
}

.button_box > :hover {
  background-color: rgb(50,50,50) !important;
  border: solid 1px white;
  color: white;
}

.button_box > :active {
  background-color: rgb(50,50,50) !important;
  border: solid 1px white;
  color: white;
}

.already_have_account_button {
  color: grey !important;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.already_have_account_button:hover {
  color: whitesmoke !important;
}

.admin_box {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: -10px;
}

@media (max-width:550px) {
  .banner_text {
    font-size: var(--large);
    text-shadow: 3px 3px darkgreen;
  }
}

@media (max-width:500px) {
  .user_signup_form {
    width: 350px;
  }

  .inputField {
    width: 250px;
    align-self: center;
  }

  .weight_input {
    width: 70px;
  }

  .registration_error, .signup_form_text {
    width: 250px;
  }

  .weight_box {
    width: 250px;
  }

  .admin_box {
    width: 250px;
  }

  .button_box { 
    width: 250px;
  }

  .button_box > * {
    width: 120px;
  }
}

@media (max-width:400px) {
  .user_signup_form {
    width: 285px;
  }

  .banner_box{
    width: 110%;
  }
}

