.wrapper {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    padding-right: 30px;
  }
  
.banner_box {
  height: 100px;
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-bottom: 10px;
}

.banner_text {
  align-self: flex-end;
  text-align: center;
  font-size: 80px;
  text-shadow: 5px 5px darkgreen;
  cursor: pointer;
  color: var(--electric-green);
  margin-bottom: 11px;
}

.user_info_box {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.user_info > p {
    font-size: 20px;
    color: whitesmoke;
}

.user_info > p > b {
    color: grey;
}

.edit_info_button {
  color: var(--electric-green);
  border: none;
}

.edit_info_button:hover {
  color: darkgreen;
}

.user_page_button {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(50,50,50) !important;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 20px;
}

.user_page_button:hover {
  background-color: rgb(35,35,35) !important;
  color: whitesmoke !important;
  border-color: whitesmoke !important;
}

.user_page_button:active {
  border-color: whitesmoke !important;
  color: whitesmoke !important;
}

.calories_burned_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.calories_burned_wrapper > div {
  width: 200px;
  height: 250px;
  border: solid grey;
  border-radius: 20px;
  box-shadow: whitesmoke 0px 5px 15px;
  text-align: center;
  padding: 10px;
  background-color: rgb(50,50,50) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  font-size: 16px;
  text-shadow: 1px 1px darkgreen;
}

.calories_burned_wrapper > div > div {
  height: 150px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: whitesmoke;
}

@media (max-width:600px) {
    .banner_text {
      font-size: 55px;
    }
  }
  
@media (max-width:430px) {
  .banner_text {
    font-size: 50px;
    text-shadow: 3px 3px darkgreen;
  }
}

@media (max-width:800px) {
  .user_info>p {
    font-size: 16px;
  }
  .edit_info_button {
    font-size: 12px;
  }
}

@media (max-width:600px) {
  .user_info_box {
    justify-content: space-around;
  }
}