.wrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.banner_box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.banner_text {
  align-self: flex-end;
  text-align: center;
  font-size: var(--large);
  text-shadow: 2px 2px darkgreen;
  margin: 0;
  cursor: default;
}

.add_workout_wrapper {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.welcome_message {
  color: whitesmoke;
  align-self: flex-start;
  margin: 0;
  cursor: default;
}

.user_page_button {
  width: 180px;
  height: 45px;
  border-radius: 2px;
  background-color: steelblue !important;
  border: none;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
  color: whitesmoke;
  margin-right: 26px;
}

.user_page_button:hover {
  background-color: rgba(70, 131, 180, 0.75) !important;
  color: rgba(245, 245, 245, 0.75) !important;
}

.user_page_button:active {
  background-color: rgba(70, 131, 180, 0.5) !important;
  color: rgba(245, 245, 245, 0.5) !important;
}

.calories_burned_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.calories_burned_wrapper > div {
  display: flex;
  flex-direction: row;
  text-shadow: 1px 1px darkgreen;
  align-items: center;
  padding: 18px;
  gap: 10px;
}

.calories_burned_wrapper > div > div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.calorie_data {
  font-size: var(--medium);
  color: whitesmoke;
  text-shadow: 1px 1px grey !important;
}

.divider {
  font-size: var(--large);
  color: steelblue;
  text-shadow: none !important;
}

.line_chart_wrapper {
  width: 100%;
  height: 600px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 90px 30px;
  border-top: dotted 1px rgba(128, 128, 128, 0.5);
  border-bottom: dotted 1px rgb(128, 128, 128, 0.5);
}

.line_chart_wrapper > label {
  margin-bottom: 10px;
  color: whitesmoke;
  text-shadow: 2px 2px grey;
  font-size: var(--medium);
}

.calendar_wrapper {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 500px;
}

.calendar_wrapper > label {
  color: whitesmoke;
  text-shadow: 2px 2px grey;
  font-size: var(--medium);
}

@media (max-width: 1400px) {
  .wrapper {
    width: 100%;
  }

  .user_page_button {
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .banner_box {
    width: 100%;
  }

  .line_chart_wrapper {
    height: 460px;
    width: 750px;
  }

  .calories_burned_wrapper {
    width: 110%;
  }

  .calories_burned_wrapper > div {
    padding: 16px;
    gap: 10px;
    font-size: 12px;
  }

  .calorie_data {
    font-size: var(--small);
  }
}

@media (max-width: 800px) {
  .user_info > p {
    font-size: 16px;
  }
  .edit_info_button {
    font-size: 12px;
  }
  .line_chart_wrapper {
    width: 600px;
  }
}

@media (max-width: 767px) {
  .banner_box {
    margin-top: 0;
  }

  .divider {
    font-size: var(--medium);
  }
}

@media (max-width: 625px) {
  .line_chart_wrapper {
    width: 500px;
  }

  .line_chart_wrapper > label {
    font-size: var(--small);
  }

  .banner_box {
    width: 90%;
  }

  .user_page_button {
    width: 140px;
  }
}

@media (max-width: 525px) {
  .line_chart_wrapper {
    width: 450px;
  }

  .calories_burned_wrapper > div > div {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
}

