@font-face {
    font-family: nunito;
    src: url(Nunito-VariableFont_wght.ttf);
}

:root {
    --electric-green : #09b43a;
}


* {
    color: var(--electric-green);
    font-family: nunito;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 30, 30);
}

a:hover {
    color: darkgreen;
}

#banner-box {
    height: 22rem;
    display: flex;
}

#banner-text {
    align-self: center;
    font-size: 100px;
    text-shadow: 5px 5px darkgreen;
}

.login-button, .input-account-info-box {
    width: 20rem;
    height: 5rem;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgb(100, 100, 100);
    border-color: silver;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.login-button:hover {
    width: 21rem;
    height: 5.5rem;
    margin-bottom: 1.25rem;
    margin-top: -.25rem;
    background-color: rgb(110,110,110);
    font-size: 35px;
    box-shadow: 2px 2px 2px rgb(200,200,200);
}

#user-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-account-info-box {
    color: black;
    background-color: white;
    padding-left: 10px;
    cursor:text;
}

.input-account-info-box:focus {
    background-color: var(--electric-green);
    padding-left: 10px;
    cursor:text;
}

.button-box {
    display: flex;
    height: 3rem;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 22rem;
}

.button-box > button {
    width: 10rem;
    height: 3rem;
    justify-content: space-around;
    border-radius: 20px;
    background-color: rgb(100,100,100);
    border-color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

.button-box > button:hover {
    width: 10.5rem;
    height: 3.25rem;
    background-color: rgb(110,110,110);
    font-size: 23px;
}

#user-signup-form {
    display: flex;
    flex-direction: column;
    margin-top: -7rem;
}

#user-signup-form > input, #account-recovery-input {
    height: 30px;
    border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(240, 240, 240, 0.8);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    color: darkgreen;
    width: 20rem;
}

#user-signup-form > input::placeholder {
    color: black;
}

#user-signup-form > input:active {
    background-color: var(--electric-green);
}

#user-signup-form > input:focus{
    background-color: white;
}

#account-recovery-links {
    margin-top: 7rem;
    cursor: pointer;
}

#account-recovery-text {
    font-size: 30px;
}

#account-recovery-input:focus {
    background-color: white;
}

.hide {
    display: none;
    height: 0px;
    width: 0px;
}

@media (max-width:600px) {
    #banner-text {
        font-size:75px;
    }
}

@media (max-width:450px) {
    #banner-text {
        font-size:55px;
    }
}
