<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Necessitivity - Account Recovery Error</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div id="banner_box">
        <h1 id="banner_text">Necessitivity</h1>
    </div>
    <!-- Account Recovery Active -->
    <h2 style="margin-top: -.5rem; margin-bottom: .4rem;" id="account_recovery_text">Forgot Username or Password?</h2>
    <p class="red_text">There is no account with that email.</p>
    <form method="post" action="/recover-account" id="account_recovery_form">
        <input style="margin-top: 0; width: 316px;" id="account_recovery_input" name="email" type="email" placeholder="Email Address" required>
        <div class="button_box" id="account_recovery_button_box">
            <a href="/">
                <button type="button" class="login_error_back_button">Back</button>
            </a>
            <button type="submit" id="account_recovery_submit_button">Submit</button>
        </div>
    </form>
    
</body>
</html>