<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Necessitivity - Registration Successful!</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div id="banner_box">
        <h1 id="banner_text">Necessitivity</h1>
    </div>
    <p style="font-size: x-large; margin-bottom: 1rem;">Registration Successful!</p>
    <a href="/">
        <button class="login_error_back_button">Back</button>
    </a>
</body>
</html>