#user_signup_form {
    display: flex;
    flex-direction: column;
    margin-top: -4rem; 
    margin-bottom: 5rem;
    padding-left: 26px;
  }
  
#signup_form_text {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 2px;
  }

#user_signup_form > input, #height_box > input, #weight_box > input, #age_box > input {
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(240, 240, 240, 0.8);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    color: black;
}

#height_box, #weight_box, #age_box {
  width: 352px;
  display: flex;
}

#height_box > input {
  width: 40px;
  margin-right: 20px;
}

#weight_box > input {
  width: 60px;
  margin-left: -7px;
}

#age_box > input {
  width: 60px;
  margin-left: 22px;
}

#height_label, #weight_label, #age_label {
  font-weight: bolder;
  font-size: 20px;
  padding-top: 12px;
  margin-right: 20px;
}

#height_label {
  margin-right: 19px;
}

#age_label {
  margin-right: 22px;
}
#user_signup_form > input:focus{
  background-color: lightgreen;
}

#user_signup_form > input:active {
  background-color: var(--electric-green);
}

.registration_error {
    color: red;
    text-align: center;
    font-size: 18px;
    margin-bottom: 67px;
    margin-top: -49px;
}

@media (max-width:768px) {
  #user_signup_form {
    padding-left: 0;
  }
}

@media (max-width:375px) {
  #signup_form_text {
    font-size: small;
  }

  #height_label, #weight_label, #age_label {
    margin-left: 30px;
  }

  #user_signup_form > input {
    width: 280px;
    align-self: center;
  }
}